@import "@/shared/scss/_bootstrapdependencies";
@import "@/shared/scss/colors.scss";

.songStore {
  background-color: $bg;
  min-width: 100vw;
  min-height: 100vh;
  padding: 122px 0 0 56px;

  p {
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-top: 200px;
  }

  &__fivesongs {
    display: flex;
    row-gap: 18px;
    column-gap: 30px;
    flex-direction: column;
    max-height: 422px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;
  }

  &__subtitle {
    color: #BEBEC0;
  }

  &__title {
    font-size: 32px;
  }

  &__category {
    margin-top: 122px;

    &:first-child {
      margin-top: 0;
    }
  }
}