$white : #ffff;
$bg : #28282E;


// KEYBOARD

$row1 : #CD63FF;
$row1-hover : #8000BC;
$row2 : #76E28E;
$row2-hover : #006416;
$row3 : #FE6161;
$row3-hover : #AA0000;
$row4-5 : #7DE8D5;
$row4-5-hover : #107260;
$row6-7 : #FBE492;
$row6-7-hover : #967B1A;
$row8 : #FA8888;
$row8-hover : #C60D0D;
$row9 : #26BF51;
$row9-hover : #135726;
$row10 : #8572FF;
$row10-hover : #1C0D7A;
$row0 : #ECECEC;
$row0-hover : #434242;