@import "@/shared/scss/colors.scss";
@import "@/shared/scss/_bootstrapdependencies";

.subtitle {
  margin: 0;
  color: $white;
  text-decoration: none;
}

.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  margin-top: 20px;

  &__socials {
    gap: 20px;
    display: flex;
    margin: 0 38px 0 24px;
  }

  &__leftblock {
    margin-left: 27px;
  }

  &__keyboard {
    margin-left: 4px;
  }

  &__instruction {
    margin-left: 128px;
    margin-right: 40px;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  &__select {
    background-color: $bg;
    border: 0px solid transparent;
    background-size: 0.65rem auto;
    appearance: none;
    background-color: transparent;

    &:focus-visible {
      outline: 0px;
    }

    option {
      background-color: $bg;
    }
  }

  &__line {
    height: 16px;
    width: 1px;
    margin-left: 60px;
    margin-right: 43px;
    border-radius: 5px;
    background-color: $white;
  }

  &__logo {
    width: 24px;
    height: 24px;
    filter: grayscale(1);
    transition: all .5s;

    &:hover {
      filter: grayscale(0);

    }
  }

  &__rightblock {
    margin-right: 27px;
  }

  &__selectwrapper {
    display: flex;
    align-items: center;
    background-color: transparent;

    &::after {
      content: "";
      margin-left: 5px;
      display: block;
      background: url("../../shared/photos/selectarrow.png") no-repeat right;
      width: 10px;
      height: 5px;
      position: relative;
    }
  }

  &__button {
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 50px;
    max-width: 96px;
    width: 100%;
    padding: 0;
    height: 37px;
  }

  &__keyboards {
    max-width: 64px;
    min-width: 50px
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    margin: 0;

    &__leftblock {
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0;

    }
    &__line {
      display: none;
    }
    &__rightblock {
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

@include media-breakpoint-down(xxs) {
  .navbar {
    &__logo {
      display: none;
    }
  }
}

@include media-breakpoint-between(sm, lg) {
  .navbar {
    &__rightblock {
      min-width: 465px;
    }
  }
}