@import "@/shared/scss/_bootstrapdependencies";

p {
  margin: 0;
}

.gamearea,
.startScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: #000;

  &:focus {
    outline: none;
  }

  &__textWithInput {
    margin-top: 300px;

    @include media-breakpoint-down(md) {
      margin-left: 10px;
    }
  }

  &__maininput {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 32px;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;

    &:focus {
      outline: none;
    }

    &::placeholder {

      color: #fff;
    }
  }

  &__realtext {
    color: #B2B2B2;
    font-size: 32px;
    text-wrap: nowrap;
    max-width: 100vw;
    width: 100%;

    @include media-breakpoint-down(md) {
      color: #fff;
    }
  }


  &__line {
    max-width: 800px;
    width: 80%;
    margin-bottom: 105px;
    height: 3px;
    background-color: #fff;
  }

  &__correctText {
    margin: 5px;
  }

  &__nextlyric {
    color: #B2B2B2;
    margin-bottom: 105px;
  }

  .startButton {
    margin: auto 0;
    font-size: 64px;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #fff;
  }
}