@import "@/shared/scss/colors.scss";

::-webkit-scrollbar {
  display: none;
}

;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 16px;
  color: $white;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  // overflow: hidden;
}